
<h1>{{playersListCtrl.currentTeamName}}</h1>

<table ng-repeat="player in playersListCtrl.players | filter: team = playersListCtrl.currentTeamName"
ng-class="{'active': isSelectedPlayer(player.id)}">

    <tr>
        <td>Name</td>
        <td>{{player.name}}</td>
    </tr>

    <tr>
        <td>Team</td>
        <td>{{player.team}}</td>
    </tr>

    <tr>
        <td>twitch</td>
        <td>{{player.twitch}} -
            <a
                href
                ng-click="playersListCtrl.getTwitchOnlineStatus( player )"
                ng-init="playersListCtrl.getTwitchOnlineStatus( player )">
                    {{player.twitch}}
            </a>
        </td>
    </tr>

    <tr>
        <td>Twitch Status</td>
        <td>{{player.twitchStatus}}</td>
    </tr>

    <tr>
        <td><a href ng-click="setEditingPlayer(player); startEditing();">Edit</a></td>
        <td><a href ng-click="deletePlayer(player);">Delete</a></td>
    </tr>
</table>

<p ng-if="shouldShowCreating()">
    <a href ng-click="startCreating()">Create Player</a>
</p>

<!-- Create a Player -->
<div ng-if="isCreating">
    <form ng-submit="createPlayer(newPlayer)" novalidate>
        <div class="row">
            <div class="large-4 columns">
                <label for="newPlayerName">Player Name
                    <input type="text" id="newPlayerName" placeholder="Player Name" ng-model="newPlayer.name" />
                </label>
            </div>
            <div class="large-4 columns">
                <label for="newPlayerTeam">Team
                    <input type="text" id="newPlayerTeam" placeholder="Team Name" ng-model="newPlayer.team" />
                </label>
            </div>
        </div>

        <p>
            <button type="submit">Create Player</button>
        </p>
        <p>
            <button ng-click="cancelCreating()">Cancel creating</button>
        </p>
    </form>
</div>
