
<h1>Team - {{playersListCtrl.getCurrentTeamName()}}</h1>

<table
    ng-repeat="player in playersListCtrl.players | filter: team = playersListCtrl.getCurrentTeamName()"
    ng-class="{'active': isSelectedPlayer(player.id)}">

    <tr>
        <td>Name</td>
        <td>{{player.name}}</td>
    </tr>

    <tr>
        <td>Team</td>
        <td>{{player.team}}</td>
    </tr>

    <tr>
        <td>Twitch</td>
        <td>{{player.twitch}} -
            <a
                href
                ng-click="playersListCtrl.getTwitchOnlineStatus( player )"
                ng-init="playersListCtrl.getTwitchOnlineStatus( player )">
                    {{player.twitch}}
            </a>
        </td>
    </tr>

    <tr>
        <td>Twitch Status</td>
        <td>{{player.twitchStatus}}</td>
    </tr>

    <tr>
        <td><a href ng-click="setEditingPlayer(player); startEditing();">Edit</a></td>
        <td><a href ng-click="deletePlayer(player);">Delete</a></td>
    </tr>
</table>

<ui-view ng-if="shouldShowCreating()">
    <a href ng-click="startCreating()">Create Player</a>
</ui-view>
